<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Profile Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	th:src="@{/js/jquery.min.js}"></script>
<script	th:src="@{/js/bootstrap.min.js}"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

	
	

	
</style>
<script>
			
			$(document).ready(function() {
				  $('.edit').on('click', function(ev) {
					  var spanId = $(this).parent().siblings()[1];
					  var inputTextId = $(this).parent().siblings()[2];
					  var iconId = $(this).parent().siblings()[3];
					  $(inputTextId).toggle();
					  $(spanId).toggle();
					  $(iconId).toggle();
					  $(this).parent().toggle();
					  
					 
				  });
				  $('.save').on('click', function(ev) {
					
					  var spanId = $(this).parent().siblings()[1];
					  var inputTextId = $(this).parent().siblings()[3];
					  var iconId = $(this).parent().siblings()[2];
					
					  $(inputTextId).toggle();
					  $(spanId).toggle();
					  $(iconId).toggle();
					  $(this).parent().toggle();
					  
			/* 
					  var fieldName = $(inputTextId).attr('name');
					  var value =  $(inputTextId).val();
					  $.post("/admin/updateUserProfile",
					            {
						 		 fieldName : value
					          
					            }); */
					            
					   $('#submit-form').click();
					 
				  });
				  $("#password_modal_save").on('click', function(ev){
					  var currPass = $("#currPass").val();
					  var newPass = $("#newPass").val();
					  $.post("/admin/updatePassword",
					            {
					              currPass :  currPass,
					              newPass: newPass
					          
					            }).done(function(res) {
					            	var jsonObj = JSON.parse(res);
					  				alert(jsonObj.status);	
					  				location.reload(true);
					            }); 
				    });				  
			});
</script>
</head>

<body>
	<div style="margin-top:20px;border:1px solid #e0ffff; background-color:#e0ffff;padding:10px 0px">
	<div lang="en" th:replace="header :: header"> </div>
	<div class="col-md-12 ">
	
		<div class="col-md-offset-3 col-md-6" style="padding-top:20px;">
			
				 <div class="panel panel-info" >
					<div class="panel-heading">
							<h3>User Profile</h3>
					</div>
					<div class="panel-body" style=" min-height:400px;">
							 <div class="col-sm-12" style="font-size: 18px;">
								 <form autocomplete="off" action="#" th:action="@{/admin/profile}"
									th:object="${currentUser}" method="post" class="form-horizontal"
									role="form">
									<div class="col-sm-offset-2 col-sm-8 space">
										<span>First Name :&nbsp</span>
										
										<span th:text=" ${currentUser.name}">
										</span>
										<a>
											<span class="glyphicon glyphicon-pencil edit"></span>
										</a>
										<input style="display: none"  th:field="*{name}" type="text" th:value="${currentUser.name}"  size="15">
										<a  style="display: none"><span  class="glyphicon glyphicon-ok save"></span></a>
									</div>
									<button id="submit-form" type="submit" style="display:none"> </button>
									<input type="hidden" th:field="*{id}" th:value="${currentUser.id}" />
									<div class="col-sm-offset-2 col-sm-8 space">
										<span>Last Name :&nbsp</span>
										
										<span th:text=" ${currentUser.lastName}">
										</span>
										<a>
											<span class="glyphicon glyphicon-pencil edit"></span>
										</a>
										<input style="display: none"  th:field="*{lastName}"  type="text" th:value="${currentUser.lastName}" name="last-name" size="15">
										<a style="display: none"><span  class="glyphicon glyphicon-ok save"></span></a>
									</div>
									<div class="col-sm-offset-2 col-sm-8 space">
										
										<span>Email :&nbsp</span>
										
										<span th:text=" ${currentUser.email}">
										</span>
										
									</div>
									<div class="col-sm-offset-2 col-sm-8 space">
										
										<span>Credits :&nbsp</span>
										
										<span th:text=" ${userCredit.credits}">
										</span>
										
									</div>
									<div class="col-sm-offset-2 col-sm-8 space">
										<span>Type :</span>&nbsp<span th:text="${currentUser.roles.get(0).role}"></span>
									</div>
									<div class="col-sm-offset-3 col-sm-6 space">
										 
										 <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#password_modal">Update Password</button>
									
									</div>
								</form>
							</div>
						
					   </div>
				    </div>
		</div>
	</div>
	<div class="modal fade"  role="dialog" id="password_modal">
	 <div class="modal-dialog">
	    
	    <div class="modal-content">
	    	<div class="modal-header">
	       		 <h3>Change Password <span class="extra-title muted"></span></h3>
	    	</div>
		    <div class="modal-body form-horizontal" style="padding-left: 120px;">
		        <div class="control-group">
		            <label for="current_password" class="control-label">Current Password</label>
		            <div class="controls">
		                <input id="currPass" type="password" name="current_password">
		            </div>
		        </div>
		        <div class="control-group">
		            <label for="new_password" class="control-label">New Password</label>
		            <div class="controls">
		                <input id="newPass" type="password" name="new_password">
		            </div>
		        </div>
		        <div class="control-group">
		            <label for="confirm_password" class="control-label">Confirm Password</label>
		            <div class="controls">
		                <input id="confirmPass" type="password" name="confirm_password">
		            </div>
		        </div>      
		    </div>
		    <div class="modal-footer">
		        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		        <button class="btn btn-primary" id="password_modal_save">Save changes</button>
		    </div>
	    </div>
		    
	    </div>
	</div>
	
</div>

</body>
</html>