<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script>
	$(document).ready(function(){
		$('#mood_Modal').modal({backdrop: 'static', keyboard: false}) 
		var selectedEmoticon = '';
		$(".emoticons").click(function(event){
			selectedEmoticon = event.target.id;
			$("#mood").val(selectedEmoticon);
			$("#emoticons-div").hide();
			$("#slider-div").show();
			$('#display-content').text('Selected Mood: '+selectedEmoticon+ '(5/10)');
		});
		$('#myRange').change(function() {
			$('#display-content').text('Selected Mood: '+selectedEmoticon+' ('+this.value+'/10)');
		});
		
		
	});
	
	</script>
	<style>

	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 25px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.7;
		-webkit-transition: .2s;
		transition: opacity .2s;
	}

	.slider:hover {
		opacity: 1;
	}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		background: #4CAF50;
		cursor: pointer;
	}

	.slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		background: #4CAF50;
		cursor: pointer;
	}
	
</style>
</head>
</head>
<body>

<div class="container">
  

  <div class="modal fade" id="mood_Modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" style="text-align:center">Please tell us, how are you feeling?</h4>
        </div>
        <div class="modal-body" style="min-height:350px;">
			<div id="emoticons-div" style="text-align:center">
				<div >
					
						<img class="emoticons" id="Happy" src="images/happy.svg" alt="Paris" height="130" width="130" >
						<img class="emoticons" id="Smile" src="images/smile.svg" alt="Paris" height="130" width="130" >
						<img class="emoticons" id="Blush" src="images/blush.svg" alt="Paris" height="130" width="130" >
						<img class="emoticons" id="Sad" src="images/sad.svg" alt="Paris" height="130" width="130" >
					
				</div>
				<div>
					
					<img class="emoticons" id="VerySad" src="images/sad1.svg" alt="Paris" height="130" width="130" >
					<img class="emoticons" id="Annoyed" src="images/annoyed.svg" alt="Paris" height="130" width="130" >
					<img class="emoticons" id="Laugh" src="images/laugh.svg" alt="Paris" height="130" width="130" >
					<img class="emoticons" id="Sunglass" src="images/sunglass.svg" alt="Paris" height="130" width="130" >
				</div>
			</div>
			<div  id="slider-div" style=" display:none;">
				<form th:action="@{/submitmood}" method="POST" class="form-signin">
					<h2 style="text-align:center;">Please select the rating</h2>
					<div style="margin-top:50px">
						 
							<input type="hidden" name="mood" id="mood">
							<input type="range" min="1" max="10" value="5" class="slider" name="rating" id="myRange">
							<div>
								<span >0</span>
								<span class="pull-right">10</span>
							</div>
					</div>
					<div style="text-align:center">
						<h3 id="display-content">Selected Mood: </h3>
					</div>
					<div class="col-md-offset-4 col-md-4" style="margin-top:50px">
						<button class="btn btn-lg btn-primary btn-block" name="Submit" value="SubmitMood" type="Submit" 
						>Submit Mood</button>
					</div>
				</form>
			</div>
		</div>
       
      </div>
      
    </div>
  </div>
  
</div>

</body>
</html>
